  <div class="row" id="postrow">
    <div class="col-xs-12">
      <em>
        <%= @post.name + " said" if !@post.name.blank? %>
      </em><span class="text"><%= @post.text %></span><br>
      <%= image_tag(@post.picture_url) if @post.picture.present? %> 
    </div>
  </div>

